@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&effect=fire-animation");

htm,
body {
  text-align: center;
  height: auto;
  margin: 0;
  padding: 0;
}

div {
  position: relative;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Gloria Hallelujah", cursive, sans-serif;
  font-size: 3em;
  margin-top: 3em;
}

@media only screen and (max-width: 1080px) {
  h1 {
    font-size: 2em;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2em;
    margin-top: 2em;
  }
}

img#bg {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspect ratio */
  width: 100%;
  height: auto;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  img#bg {
    height: 100%;
  }
}

[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}

@media only screen and (max-width: 600px) {
  .slides {
    width: 350px;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .slides {
    width: 350px;
    height: auto;
  }
}

.btn {
  margin-top: 2em;
  border-radius: 50%;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 8px 4px;
}
